.DS_Store
lib/
node_modules/
libomapi.js
npm-debug.log.*
src/*.obj
src/*.dll
thumbs.db
!.gitkeep
build/
*.d.ts
*.js.map
/src/*.o
/src/libomapi.a
/src/test
/src/udev_example

npm-debug.log
src/*.def
src/*.exp
src/*.lib
src/*.exe
/Release
/Debug
/*.user
